<h2>
	Gateway IP Address
</h2>
<p>
	Enter the IP address of your Internet Service Provider's (ISP's) router. This is the IP Address in the ISP's network that is directly connected to the border router. This IP Address is your Gateway Address.
</p>IP Address: 
<form>
	<input type="text"
		  name="gw_ip1"
		  size="3"
		  maxlength="3" /><b>.</b> <input type="text"
		  name="gw_ip2"
		  size="3"
		  maxlength="3" /><b>.</b> <input type="text"
		  name="gw_ip3"
		  size="3"
		  maxlength="3" /><b>.</b> <input type="text"
		  name="gw_ip4"
		  size="3"
		  maxlength="3" />
</form>